.brand-pictures .brand-picture {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 48px;
  color: #aaa;
  border: 2px solid;
  display: inline-block;
  margin-right: 5px;
  box-sizing: border-box;
  text-align: center;
  line-height: 96px;
  cursor: pointer;
  transition: all 0.3s 0s;
}

.brand-pictures .brand-picture IMG {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: top;
}

.brand-pictures .brand-picture.empty {
  border-style: dashed;
}

.brand-pictures .brand-picture.empty:hover {
  color: #333;
}

.brand-pictures .brand-picture.selected {
  border-color: #ff0808;
}

.settings .currency LABEL {
  display: block;
}

.settings .currency LABEL > SPAN {
  vertical-align: middle;
  margin-left: 5px;
}

.related-products {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 12px 0;
}

.related-products .media-body {
  padding-right: 12px;
}

.related-products .media-body .clearfix {
  border-bottom: 1px solid #ccc;
}

.related-products .related IMG {
  width: 65px;
  object-fit: contain;
}
